@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

body {
  padding: 20px;
}

button {
  margin-right: 20px;
  font-family: inherit;
}
